html,body{
    height:100%;
}
#app{
    height:100%;
}
.login{
    height:100%;
    background-image:url(../../assets/time1.jpg);
    margin:0 auto;
    position:relative;
    .form-horizontal{
        .form-group{
            margin-bottom:10px;
            .checkbox{
                padding:0;
            }
        }
        h3{
            text-align:center;
            line-height:40px;
            font-size:20px;
            color:#ccc;
        }
        label{
            color:#ccc;
            margin-left:0;
        }
        .btn-login,.btn-clear{
            margin-right:75px;
        }
        .btn{
            background:#ccc;
        }
        .user,.pass{
            height:20px;
            line-height:20px;
            color:red;
            padding-left:110px;
            font-size:14px;
            margin-bottom:10px;
        }
        .position{
            font-size:14px;
            color:#fff;
            padding-left:40px;
            padding-top:25px;
            >label{
                padding-left:50px;
                &:nth-child(2){
                    padding-left:200px;
                }
            }
        }
        width:600px;
        background: rgba(5, 57, 104, 0.5);
        padding:20px 30px;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    .col-sm-10{
        position:relative;
        >i{
            position:absolute;
            left:30px;
            top:50%;
            color:#ccc;
            transform:translate(-50%,-50%)
        }
        input{
            padding:0 30px;
        }
    }
}